# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env
local.settings.json

# Build outputs
**/build/
**/dist/

# Azure Functions artifacts
excel-addin-backend/**/*.js.map
excel-addin-backend/**/*.ts
excel-addin-backend/.vscode
excel-addin-backend/.gitignore
excel-addin-backend/local.settings.json
excel-addin-backend/test
excel-addin-backend/getting_started.md
