.gantt-chart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--widget-bg);
  padding: 0;
  overflow: hidden; /* Prevents breaking out of the container */
}

.gantt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  margin-bottom: 0px;
}

.gantt-title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
}

.view-mode-buttons {
  margin: 0 auto; /* Centers the timeline selection */
}

.gantt-chart-wrapper {
  flex: 1; /* Allow the wrapper to take all remaining space */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #fafafa; /* Light background for better contrast */
}

.frappe-gantt svg {
  overflow: visible;
  width: auto; /* Ensure the chart's width is dynamically calculated */
  height: auto; /* Ensure the chart's height is dynamically calculated */
}

.frappe-gantt .bar {
  fill: #1890ff; /* Ant Design primary color */
  stroke: #096dd9;
  stroke-width: 1;
  transition: fill 0.3s, stroke 0.3s;
}

.frappe-gantt .bar-progress {
  fill: #73d13d; /* Ant Design success color */
}

.frappe-gantt .bar:hover {
  fill: #40a9ff;
  cursor: pointer;
}

.frappe-gantt .grid-row {
  stroke: #f0f0f0;
}

.frappe-gantt .grid-header {
  stroke: #f0f0f0;
}

.gantt-container {
  position: relative;
  overflow: auto; /* Enable both horizontal and vertical scrolling */
}

.drag-handle {
  cursor: move;
}

.custom-tooltip {
  position: absolute;
  background-color: #fff;
  padding: 0px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .gantt-chart-container {
    padding: 0%;
  }

  .gantt-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .view-mode-buttons {
    margin-top: 0px;
    margin-left: 0;
  }
}
