.metric-widget-container {
  position: relative;
  width: 250px;
  margin: 0px;
  background-color: #ffffff;
  transition: transform 0.2s ease;
  cursor: grab;
}

.metric-widget-container:active {
  cursor: grabbing;
}

.metric-header {
  text-align: center; /* Center the title */
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 12px; /* Space below the title */
}

.metric-value {
  display: flex;
  flex-direction: column; /* Stack arrow and value vertically */
  align-items: center; /* Center align content */
  justify-content: center;
  font-size: 24px; /* Adjust font size for value */
  margin-bottom: 12px; /* Space below the value */
  color: inherit; /* Use dynamic color based on success/failure */
}

.metric-arrow {
  font-size: 20px;
  margin-bottom: 4px; /* Space between arrow and value */
}

.metric-target-value {
  text-align: center; /* Align the target value to the center */
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-top: 8px; /* Space above the target value */
}

.metric-target-value .metric-target-label {
  font-weight: normal;
}

.metric-target-value .metric-target-number {
  font-weight: bold;
  color: var(--text-color);
}

.metric-edit-button {
  display: none;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}

.metric-widget-container:hover .metric-edit-button {
  display: block;
}
